<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si le fichier ou répertoire demandé n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redirige toutes les requêtes vers public/index.php
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
